header, footer {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Calistoga', cursive;
  font-size: large;
  font-weight: 100;
}
body {
  max-width: 1080px;
  margin: 0 auto;
}
a:visited {
  color: white;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
nav a {
  border-top: thin #143642 solid;
  border-bottom: thin #143642 solid;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  margin: 20px 20px;
  float: left;
  background-color: #143642;
}
.clear-float {
  clear: both;
}
